
@{
    ViewBag.Title = "Verify Google Authenticator Code";
}

<h2>@ViewBag.Title</h2>

<form method="POST">
    <p>
        <input type="text" name="code"/>
    </p>
    <p>
        <button type="submit">submit</button>
    </p>
</form>
